{:paths   ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.12.0-alpha5"}
           org.clj-commons/hickory {:mvn/version "0.7.4"}
           metosin/malli           {:mvn/version "0.14.0"}
           lambdaisland/regal      {:mvn/version "0.0.143"}}
 :aliases {}}
