{:paths   ["src"]
 :deps
 {org.clojure/clojure            {:mvn/version "1.11.1"}
  metosin/muuntaja               {:mvn/version "0.6.8"}
  metosin/reitit                 {:mvn/version "0.7.0-alpha5"}
  ring/ring-core                 {:mvn/version "1.11.0-alpha1"}
  ring/ring-jetty-adapter        {:mvn/version "1.11.0-alpha1"}
  com.lambdaisland/hiccup        {:mvn/version "0.0.4"}}
 :aliases {:dev {:jvm-opts ["-Duser.timezone=UTC" "--enable-preview"]}}}
